.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart .items h1 {
    width: 100%;
    text-align: center;
    color: #fff;
}

.cart .items {
    width: 90%;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}