@import "leaflet/dist/leaflet.css";

@font-face {
  font-family: montserratRegular;
  src: url(../fonts/MontserratAlternates-Regular.ttf);
}

* {
  font-family: 'montserratRegular';
}

.finishOrder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.finishOrder .resume {
    width: 30%;
    height: 100vh;
    padding: 20px 20px;
    background-color: #8D6CFF;
}

.finishOrder .resume h1 {
    color: #fff;
    font-weight:normal;
}

.finishOrder .resume .cart {
    width: 100%;
    height: 90%;
    overflow-y:scroll;
    scrollbar-width:none;
}

.finishOrder .orderDetails {
    background: #cfc2ff;
    padding: 35px 0px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.finishOrder h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.finishOrder .direction {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.finishOrder .direction .details {
    width: 80%;
}

 .finishOrder .direction h4 {
    width: 100%;
    text-align: left;
}

.finishOrder .direction textarea {
    width: 100%;
    resize: none;
    padding: 12px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.finishOrder .total {
    width: 50%;
    display: flex;
    flex-direction: column;
}