.navbar {
    background-color: #8d6cff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 20px;
}

.navbar-container {
    position: relative;
}

.cart-slide {
    position: absolute;
    background-color: #00000020;
    top: 100%;
    right: 0;
    width: 30%;
    z-index: 100;
    padding: 20px;
    height: 85vh;
    overflow-y: auto;
}


.navbar .logo {
    width: 36%;
    display: flex;
    align-items: center;
}

.navbar .logo p {
    color: white;
    font-size: 20px;
    margin: 0 0 0 10px;
}

.navbar .imgLogo {
    width: 50px;
    border-radius: 50%;
}

.navbar .links {
    width: 35%;
    display: flex;
    justify-content: space-around;
}

.navbar .links a {
    padding: 28px 0px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.navbar .linkCart {
    padding: 10px 15px;
    margin: 0px 10px;
    border-left: #B9B8FF 1px solid;
    border-right: #B9B8FF 1px solid;
    cursor: pointer;
}

.navbar .linkCart img {
    width: 30px;
    height: 30px;
}

.navbar .logs {
    width: 23%;
}

.navbar .logs Button {
    margin-left: 20px;
}

.nav-link {
  position: relative;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  transition: all 1s ease;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #fff;
}
